h1
{
    color: black;
    text-align: center;
    font-family: cursive;
    font-size: xx-large;
}
p
{ color: red;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}


#cabecera
{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

#post
{
    text-align: center;
    background-color: floralwhite;
    width: 300px;
    border: 15px aquamarine;
    padding: 50px;
    margin: auto;

}